@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">

        @*Byta meny genom if sats o kolla loggedin!*@
        @if (test)
        {

            <ProfileMenu />
        }
        else
        {
            <NavMenu />
        }

    </div>

    <main>
        <div class="top-row px-4">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    private bool test = true;
}