@inject ILocalStorageService LocalStorage
@inject IAccountManager AccountManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProjectFora</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="test">
                <span class="oi oi-plus" aria-hidden="true"></span> TestProfile
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="registerUser">
                <span class="oi oi-plus" aria-hidden="true"></span> Register
            </NavLink>
        </div>
        <div>
            <NavLink class="nav-link" href="logout">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
            </NavLink>

            <NavLink class="nav-link" href="login">
                <span class="oi oi-account-login" aria-hidden="true"></span> Login
            </NavLink>

        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private UserStatusDto? userStatus;

    protected override async Task OnInitializedAsync()
    {
        // 1. Hämta token från Local Storage

        var token = await LocalStorage.GetItemAsStringAsync("Token");
        token = token.Replace("\"", "");

        // 2. Skicka den token:en till API:t

        userStatus = await AccountManager.CheckUserLogin(token);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        StateHasChanged();
    }


}
