@page "/interest"
@using ProjectFora.Shared;
@inject IUserInterestManager UserInterestManager
@inject IInterestManager InterestManager
@inject IThreadsManager ThreadManager
@inject NavigationManager NavigationManager


<h3>Form-forum Interest Page:</h3>
@if(userInterests != null)
{
    <div>
        @foreach(var userIn in userInterests)
        {
            <ul>
                <li>@userIn</li>

            </ul>
        }
    </div>
    <div>

    </div>
}

@code {

    List<UserInterestModel>userInterests = new ();
    List<InterestModel>interests = new ();
    List<ThreadModel> Threads = new();


    protected override async Task OnInitializedAsync()
    {

        
        interests = await InterestManager.GetAllInterest();
        
        userInterests = await UserInterestManager.GetUserInterest();
        
        
        Threads = await ThreadManager.GetAllThreads();

    }
    
    void HandleDeleteInterest(int InterestId)
    {
        
    }
    
    void HandleUpdateInterest()
    {
        
    }
}
@*Sida: Intressen
En sida där man kan se intressen man har på sin användare
Funktionalitet
Se intressen man har på sin användare
Se antalet trådar som finns skapade för intresset
Klicka och gå in på ett intresse
Ta bort ett intresse om man skapat det
Ändra namn på ett intresse om man skapat det och det inte har några tråda//
*@