@page "/interest"
@using ProjectFora.Shared;
@*@inject IUserInterestManager UserInterestManager*@
@*@inject IInterestManager InterestManager*@
@*@inject IThreadsManager ThreadManager*@
@inject IUserManager UserManager
@inject NavigationManager NavigationManager


<h3>Form-forum Interest Page:</h3>

@*<h3>User Interest</h3>
@if(User != null)
{
    <div>
        @foreach(var interest in User.Interests)
        {
            <ul>
                <li>@interest</li>
                <button @onclick="RemoveInterest">Remove</button>
            </ul>
        }
    </div>
}

<h3>All Interests</h3>
    <div>
        @foreach(var interest in interests)
        {
            <ul>
                <li>@interest</li>
              
            </ul>
        }
    </div>*@



@code {
    public UserModel User { get; set; } = new();
    
    List<InterestModel> interests = new ();
    List<ThreadModel> threads = new();


    protected override async Task OnInitializedAsync()
    {
        //interests = await InterestManager.GetAllInterest();

       User = await UserManager.GetCurrentUser();


        //threads = await ThreadManager.GetAllThreads();
    }
    
    void HandleDeleteInterest(int InterestId)
    {
        
    }
    
    public async Task RemoveInterest()
    {
        
    }
}
@*Sida: Intressen
En sida där man kan se intressen man har på sin användare
Funktionalitet
Se intressen man har på sin användare
Se antalet trådar som finns skapade för intresset
Klicka och gå in på ett intresse
Ta bort ett intresse om man skapat det
Ändra namn på ett intresse om man skapat det och det inte har några tråda//
*@