@page "/interest"
@using ProjectFora.Shared;
@*@inject IUserInterestManager UserInterestManager*@
@*@inject IInterestManager InterestManager*@
@*@inject IThreadsManager ThreadManager*@
@inject IUserManager UserManager
@inject NavigationManager NavigationManager
@inject IUserInterestManager userInterestManager

<h3>Your interests:</h3>

@if(userInterests != null) {
    @foreach(var interest in userInterests)
    {
        <h2 onclick="@(() => NavigateToThreads(@interest.Id))">@interest.Name</h2>
    }
}

@code {
    public List<InterestModel>? userInterests;

    protected override async Task OnInitializedAsync()
    {
        // Get token
        var token = await UserManager.GetToken();

        // Get user interests
        userInterests = await userInterestManager.GetUserInterests(token);
    }

    public void NavigateToThreads(int id)
    {
        NavigationManager.NavigateTo($"threads/{id}");
    }

    public async Task DeleteInterest(int InterestId)
    {
        
    }
    
    public async Task RemoveInterest()
    {
        
    }
}
@*Sida: Intressen
En sida där man kan se intressen man har på sin användare
Funktionalitet
Se intressen man har på sin användare
Se antalet trådar som finns skapade för intresset
Klicka och gå in på ett intresse
Ta bort ett intresse om man skapat det
Ändra namn på ett intresse om man skapat det och det inte har några tråda//
*@