@page "/logout"
@inject IUserManager UserManager
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage

           <h3>Are you sure you want to logout?</h3>   
<button @onclick=Logout>Yes</button>
<button @onclick=LoggedIn>No</button>

@code {

    private async void Logout()
    {
        await UserManager.Logout();
        NavigationManager.NavigateTo("/login");
    }

    private async void LoggedIn()
    {
        NavigationManager.NavigateTo("/");
    }

}

