@page "/logout"
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@inject IUserManager UserManager

<button @onclick=HandleLogout>Log Out</button>

@code {

    private async void HandleLogout()
    {
        await LocalStorage.RemoveItemAsync("token");
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("/");
    }
    //protected override async Task OnInitializedAsync()
    //{
    //    await UserService.LogOut();
    //    NavigationManager.NavigateTo("/");
    //}


}
