@page "/test"
@inject IAccountManager AccountManager
<h3>TestProfile</h3>

  <h3>Change Password</h3>
    <div>
        Please enter a new Password;
    </div>
    <br />
    <EditForm Model="@user" OnValidSubmit="@ChangePassword">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <InputText id="password" class="input" type="password" @bind-Value="@user.Password"></InputText>
            </div>
        </div>
        <div class="field">
            <label class="label">Confirm password</label>
            <div class="control">
                <InputText id="cpassword" class="input" type="password" @bind-Value="@user.ConfirmPassword"></InputText>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button type="submit" class="button is-primary">Set Password</button>
            </div>
        </div>
    </EditForm>

@code {
    RegisterModel user = new();
    // se intressen
    //se alla intressen
    //skapa nya intressen
    //lägga till existerande intressen till sin användare
    //ta bort intressen från sin användare
    //ta bort intressen man själv skapat från appen
    //byta lösenord

    public async void ChangePassword()
    {
        var token = AccountManager.GetToken();
        //await AccountManager.ChangePassword(user, token);
    }
}
