@page "/threads"
@using ProjectFora.Shared;
@inject IThreadsManager ThreadManager
@inject IMessageManager MessageManager
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<h3>Threads</h3>












@code {
    //[Parameter]
    //MessageModel:
    public int Id { get; set; }
    public string Message { get; set; } = String.Empty;
    //AccountUserModel
    public string Username { get; set; } = String.Empty;
    public bool Banned { get; set; }
    public bool Deleted { get; set; }







    List<ThreadModel> GetThreads = new();
    List<MessageModel> Messages = new();
    List<UserModel> bannedUsers = new();


    protected override async Task OnInitializedAsync()
    {

        //hämtar alla interest från interestManager
        GetThreads = await ThreadManager.GetAllThreads();
        //hämtar alla interest från interestManager
        Messages = await MessageManager.GetAllMessages();
        //Users
        //bannedUsers = await 

    }
    //1.metod att hämta tråd när söker på-klicka och gå in på en tråd...
    void GetAThread(int Id)
    {
        NavigationManager.NavigateTo($"threads/GetAThread/{Id}");
    }
    //2.metod att ta bort en tråd när man klickar
    void DeleteAThread(int Id)
    {
        NavigationManager.NavigateTo($"threads/DeleteThread/{Id}");
    }
    //3.metod som updaterar/edit en tråd när man klickar
    void UpdateAThread(int Id)
    {
        NavigationManager.NavigateTo($"threads/updatethread{Id}");
    }
    void UpdateThreadAdmin()
    {

    }
    void DeleteThreadAdmin()
    {
        
    }




}




@*Sida: Trådar 
En sida där man kan se trådar relaterade ett intresse
Funktionalitet:

Sortera och söka på trådar
1.Klicka och gå in på en tråd
Se antalet meddelanden i varje tråd
Trådar skapade av bannade eller borttagna användare ska ha en olika symboler som visar att användaren ärantingen bannad eller borttagen

2.Ta bort en tråd om man skapat den
3.Ändra namn på en tråd om man skapat den och den inte har några meddelanden
*@