@page "/thread"
@inject IUserManager UserManager
@inject IMessageManager MessageManager

<h3>Create a new message</h3>


<EditForm Model=@newMessage OnValidSubmit="CreateNewMessage">
    <div class="form-group">
        <label for="message">Message</label>
        <InputText class="form-control" id="message" @bind-Value="newMessage.Message"/>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</EditForm>


    @code {
        private MessageModel newMessage = new();


        void CreateNewMessage()
        {
            MessageManager.PostMessage(newMessage);
        }


}
