@page "/thread/{Id:int}"
@inject IUserManager UserManager
@inject IMessageManager MessageManager
@inject ILocalStorageService LocalStorage

<h3>Create a new message</h3>


<EditForm Model=newMessage OnValidSubmit="CreateNewMessage">
    <div class="form-group">
        <label for="message">Message</label>
        <InputText class="form-control" id="message" @bind-Value="newMessage.Message"/>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</EditForm>


@code {
    [Parameter]
    public int Id { get; set; }
    private string token = "";

    private MessageModel newMessage = new();


    protected override async Task OnParametersSetAsync()
    {
        // Get token
        token = await UserManager.GetToken();

        if(!String.IsNullOrEmpty(token))
        {
            // Get the thread with all messages
            var threadMessages = MessageManager.GetThreadMessages(Id, token);
        }
    }

    async Task CreateNewMessage()
    {
      
        await MessageManager.CreateMessage(Id, newMessage, token);
    }



}
